.fade.modal.show {
    backdrop-filter: blur(10px);
}

.modal-content {
    background-color: var(--grey--700);
}

.modal.show .modal-dialog {
    overflow: hidden;
    border-radius: 20px;
}

.model-card-bg {
    width: 100%;
    background-size: cover;
    background-position: center;
}

.model .card-bg {
    width: 100%;
    background-size: cover;
}


.model .menu {
    filter: url("#goo");
    margin-top: -90px;
}

.model .menu-item,
.model .menu-open-button {
    background: var(--grey--700);
    border-radius: 100px;
    width: 146px;
    height: 146px;
    margin-bottom: -90px;
    margin-left: 20px;
}

.model .card-avatar {
    background: var(--grey--700);
    border-radius: 100px;
    width: 121px;
    height: 121px;
    margin-top: 11px;
    margin-left: 11px;
}

.model .card-content {
    background: var(--grey--700);
    width: 100%;
    height: auto;
    z-index: 1;
    color: #fff;
    padding: 20px;
    gap: 16px;
}

.model .menu-rect {
    background: var(--grey--700);
    border-radius: 10px;
    width: 100%;
    height: 100px;

}

.model .menu-open {
    display: none;
}

.model .card-content h5 {
    gap: 4px;
    margin-top: 4px;
}

.white-text {
    color: var(--white) !important;
}
.modal-dialog {
    max-width: 1100px;
}
.dialog-content {
    position: relative;
}

.model-header{
    position: absolute;
    top: 80px;
    left: 180px;
    width: calc(100% - 200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--border-color);
    }

.model-header h1{
font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
}

.model-header p {
    color: var(--grey--300);
}

.social {
    display: flex;
    gap: 8px;
}

.model-content-inner {
    display: flex;
    gap: 40px;
    margin: 32px;
    align-items: flex-start;
}

.model-content-inner-left {
    flex: 1;
}

.model-content-inner-left .mentor-title, .model-content-inner-right .mentor-title {
    min-width: 148px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--grey--300);

}

.model-content-inner-right {
    min-width: 360px;
    padding: 20px;
    background: var(--grey--600);
    border-radius: 12px;

}

.mentor-info-content {
    color: var(--white);
}

.model-close {

position: absolute;
    width: 44px;
    height: 44px;
    right: 16px;
    top: 16px;

    background: rgba(31, 31, 31, 0.5);
    /* Grey/500 */

    border: 1px solid #3D3D3D;
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 100px;
}

.time-next {

    width: 44px;
    height: 44px;
    right: 16px;
    top: 16px;

    background: var(--grey--600);
    /* Grey/500 */

    border: 1px solid #3D3D3D;
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 100px;
}

.model-content-inner-right .btn {
    border-radius: 8px !important;
    display: flex !important;
    gap: 8px;
    flex-direction: column !important;
    border: 1px solid var(--border-color);
    padding: 12px;

}
.model-content-inner-right .btn-group {
    display: flex;
    gap: 8px;
    align-items: center;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: unset;
    border-color: white;
}

.toggle-day {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;

    color: var(--grey--300);
}
.toggle-date {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    margin: 0;

    /* White */

    color: var(--white);
}
.toggle-slot {
font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    margin: 0;
    /* identical to box height */

    text-align: center;
    color: var(--white);
}

.mentor-times-choices .btn-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
        gap: 8px;

}

.meeting-times {
    gap: 16px;
}

.model-content-inner-right .mentor-times-choices .mentor-info-content {
    margin-bottom: 4px;
}

.btn.btn-primary {
    background-color: var(--grey--500) !important;
    text-align: center !important;
    align-items: center;
}

.experience .mentor-info-content {
    margin-bottom: 0px;
}

.experience .dates {
    text-align: right;
}

.review-image {
    width: 20px;
    border-radius: 20px;
}

.review {
    margin-bottom: 20px;
}

.reviews .review .mentor-title {
    margin: 0;
    margin-left: 16px;
}

.reviews .review .mentor-info-content {
    margin-bottom: 8px;
}

.modal-dialog.mentor-dialog {
    max-width: 500px;
}

.model-close.mentor-dialog-icons {
    position: relative;
    right: unset;
    top: unset;
}

.mentor-model-header {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.mentor-model-card-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 0.4;
    filter: blur(10px);
    right: 0;
    background-size: cover;
    background-position: center;
    
}

.mentor-book-prev {
    padding: 20px;
    position: relative;
    overflow: hidden;

}

.mentor-book-prev-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
}

.mentor-book-prev-content .card-avatar {
    margin: 0;
    margin: auto;
}

.mentor-book-prev-content .mentor-stats h5{
    font-size: 16px;
    margin-left: 4px;
}

.mentor-book-prev-content * {
    z-index: 1;
    position: relative;
    text-align: center;
}

.mentor-model-input-group {
    padding: 20px;
}

.form-select {
    background-color: var(--grey--600);
    border: none;
    color: #fff;
    padding: 12px 34px 12px 16px;
    border-radius: 8px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
        background-size: 16px 12px;
}

.form-label {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;

    /* Grey/300 */

    color: var(--grey--300)
}

textarea.form-control, textarea.form-control:focus  {
    background-color: var(--grey--600);
    border: none;
    color: #fff;
    resize: none;
    height: 100px;
}

textarea.form-control::placeholder {
    color: var(--grey--300);
}

.mentor-book-linkset {
    padding: 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mentor-book-linkset .btn-link {
    color: #fff;
    text-decoration: none;

}

.booking-confirm.mentor-book-prev-content {
    flex-direction: row;
    justify-content: flex-start;
}

.booking-confirm.mentor-book-prev-content .card-avatar {
    margin: 0;
    width: 70px;
    Height: 70px;
    margin-right: 8px;
}
.booking-confirm.mentor-book-prev-content h3{
    text-align: left;
    margin-bottom: 4px;
}

.booking-confirm-info {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--grey--300);
    margin: 16px 0;
}

.booking-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 10px;
    background-color: var(--grey--500);
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
}

.other-mentor-set {
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mentor-confirm-others {
    padding: 20px;
    display: flex;
    gap: 16px;
}
.mentor-confirm-others .mentor-cont {
    min-height: 300px;
}

.join-call-dialog {
    width: fit-content;
    margin-top: 20vh;
}
.join-call-dialog .preview-container {
    padding: 20px;
    display: flex;
    gap: 32px;
}

.preview-video {
    width: 500px;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;

}

.mentor-dialog-icons.setting {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
}

.mentor-dialog-icons.video {
    position: absolute;
    bottom: 8px;
    right: 8px;
    border: none;
}

.mentor-dialog-icons.mic {
    position: absolute;
    bottom: 8px;
    right: 60px;
    border: none;
}

.join-call-footer {
    padding: 20px;
    border-top: 1px solid var(--border-color);

}

.booking-confirm.review {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.review-popup {
    max-width: 500px;
}

.feedback-content {
    padding: 0 20px 20px;
}

.feedback-question {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 4px;
    color: var(--white);
}

.feedback-answer {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--grey--300);
}
