.main-call {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  background-color: var(--grey--700);
}

.main-call-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
}

.main-call-video {
  width: 80%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}

.main-call-video-container {
  padding: 20px;
    width: 100%;
      height: 100%;
}

.main-call-header h3 {
  font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.mini-preview-call {
  width: 150px;
  height: 100px;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 16px;
  right: 16px;
  border-radius: 8px;
  z-index: 99;
}

.main-call-options .model-close {
  position: relative;
  top: unset;
  right: unset;
  border: none;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
align-items: center;
}

.main-call-options {
  display: flex;
  gap: 8px;
}

.main-call-option-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  flex: 1;
  transform: translateY(100px);
  transition: all 0.3s ease;

background: rgb(23, 24, 27);
  background: linear-gradient(180deg, rgba(23, 24, 27, 0) 10%, rgba(23, 24, 27, 0.5) 100%);
}

.left-side-spacer {
  width: 96px;
}

.main-call-video:hover .main-call-option-container {
  transform: translateY(0);
}

.main-caller-name {
  display: flex;
  position: absolute;
  left: 8px;
  bottom: 8px;
  z-index: 10;
  background-color: #00000099;
  padding: 8px;
  border-radius: 8px;
  gap: 4px;
  backdrop-filter: blur(10px);

}

.nav-header-item.participants {
  text-decoration: none;
  font-size: 14px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.canvas-cont {
  width: 100%;
  height: 100%;
  position: relative;
}

.dot-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}

.edit-icons-container {
  display: flex;
  flex-direction: column;
  padding: 24px 4px;
  max-width: fit-content;
  background-color: #000000bb;
  border-radius: 1000px;
  backdrop-filter: blur(10px);
  gap: 4px;
  margin: auto 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  height: fit-content;
}

.edit-icons {
  background: none;
  border: none;
  box-shadow: none;
  padding: 12px;
  border-radius: 100px;
}

.active {
  background-color: #00000099;
}

.color-trigger {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid white;

}

.tooltip-inner {
  max-width: unset;
  width: fit-content;
  padding: 8px;
  background: var(--grey--600) !important;
}

.chrome-picker {
  background: var(--grey--600) !important;
}

.tooltip.show {
  opacity: 1;
}

.chrome-picker input {
  display: none;
}

#rc-editable-input-12 {
  display: none;
}

.chrome-picker>div>div:nth-child(2) {
  display: none !important;
}
/* .flexbox-fix {
  display: none !important;
} */
#rc-editable-input-2 {
  display: none;
}

.accordion {
  max-width: 300px;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: var(--grey--600);
  border-radius: 12px;
  overflow: hidden;
}

.accordion-item {
  background-color: var(--grey--600);
  border-radius: 12px;
}

.accordion button {
  background-color: var(--grey--600);
  color: white;
  min-width: 300px;
  border-radius: 12px !important;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  background-position: right center;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background: var(--grey--600);
  border-top-right-radius: 12px !important;
  border-top-left-radius: 12px !important;
    border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
}

.accordion-button:not(.collapsed)::after {

}

.accordion-body {
  background-color: var(--grey--600);
  color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  min-width: 300px;
}

.accordion-button:not(.collapsed) {
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--border-color);
}

.shuffle {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--grey--300);
  margin-top: 8px;
  text-decoration: none;

}

.end-call {
  background-color: rgb(116, 53, 53);
}

.join-bg + .fade.modal.show {
  display: flex !important;
  align-items: center;
}